$red: #ea5a4b;
* {
	box-sizing: border-box;
}

body {
	margin: auto;
	height: 100%;
	max-width: 1020px; //	border: 1px solid #eaeaea;
	box-shadow: 0 0 1px #ccc;
}

.header_top {
	line-height: 47px;
	background-color: #1c1c1c;
	text-align: right;
	padding: 0 40px;
}

li {
	display: inline-block;
}

.social-icon a {
	padding: 0 5px;
	color: #ffffff;
	display: inline-block;
	margin-left: 5px;
	&:hover {
		color: #ea5a4b;
		transition: all 0.2s ease;
	}
}

.header_main {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
	background-color: #ffffff;
	height: 58px;
	padding: 0px 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header_logo {
	font-family: 'Bitter';
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
	line-height: 58px;
	& span {
		font-size: 24px;
		vertical-align: middle;
		color: #000;
		text-transform: capitalize; //		line-height: 58px;
		display: inline-block;
	}
	&:hover .i {
		border-radius: 50%;
		transition: all .15s ease;
	}
}

.header_logo .i {
	width: 34px;
	height: 34px;
	background-color: #ea5a4b;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-family: "bittet";
	line-height: 34px;
	color: #fff;
	margin-right: 9px;
	text-transform: lowercase;
	transition: all .15s linear;
}

.header_main nav {
	line-height: 58px;
	& a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: "Helvetica Neue", "sans-serif";
		font-size: 12px;
		color: #252525;
		font-weight: bold;
		margin-left: 25px;
		transition: all .2s ease;
		display: inline-block;
		&:hover {
			color: #ea5a4b;
		}
		&:active {
			color: #ea5a4b;
		}
	}
}

.item-text {
	position: absolute;
	top: 100px;
	left: 40px;
}

.item-text p {
	background-color: #000;
	opacity: .85;
	color: #ffffff;
	font-family: Bitter;
	font-size: 24px;
	font-weight: 700;
	display: inline-block;
	margin: 1px 0;
	padding: 5px 10px;
}

.slider-arrows {
	position: absolute;
	top: 230px;
	left: 40px;
}

.arrows-right,
.arrows-left {
	width: 32px;
	height: 31px;
	background-color: #ea5a4b;
	display: inline-block;
	color: #fff;
	line-height: 31px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: all .15s ease;
	&:hover {
		border-radius: 50%;
		transition: all .15s ease;
	}
}

.s-slider {
	display: block;
	overflow-x: hidden;
	position: relative;
}

.slider-wrap {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	img {
		width: 1020px;
		display: block;
		margin-right: 0;
		padding-right: 0;
	}
}

.slider_preview {
	width: 940px;
	height: 130px;
	background-color: #1c1c1c;
	padding: 28px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	top: -32px;
	img {
		height: 75px;
		box-sizing: content-box;
		border: 2px solid transparent;
	}
	.img-border {
		border: 2px solid $red;
		transform: scale(1.1);
	}
}

.s-page_conteiner {
	width: 940px; //height: 699px;
	border: 1px solid #dfdfdf;
	background-color: #ffffff;
	position: relative;
	margin: auto;
	top: -32px;
	padding: 0px 28px;
	z-index: 10;
}

.column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 45px;
	justify-content: space-between;
}

.column-item {
	width: 30%;
	color: #5c5c5c;
	font-family: "consolas";
	font-size: 14px;
	font-weight: 500;
	& h2 {
		text-align: center;
		color: #252525;
		font-family: Bitter;
		font-size: 18px;
		font-weight: bold;
		position: relative;
		margin-bottom: 20px;
		&::before {
			content: "";
			display: inline-block;
			width: 31px;
			height: 31px;
			position: absolute;
			background-color: #000;
			background-repeat: no-repeat;
			background-position: center;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

@for $i from 1 to 4 {
	.column-item:nth-child(#{$i}) h2::before {
		background-image: url(img/icon#{$i}.png);
	}
}

.s-page_h2 {
	font-family: Bitter;
	font-size: 18px;
	color: #252424;
	font-weight: bold;
	text-align: center;
	margin-top: 55px;
	margin-bottom: 50px;
	span {
		display: inline-block;
		font-weight: 700;
		color: #fff;
		padding: 8px;
		background-color: $red;
		margin: 0 5px;
	}
}

.tabs-nav {
	display: inline-block;
	text-transform: capitalize;
	li {
		padding: 10px 10px;
		cursor: pointer;
		user-select: none;
	}
}

.tabs-item.tabs-active {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
}

.tabs-item {
	display: none;
	img {
		margin-bottom: 20px;
	}
}

.s-page_tabs {
	display: inline-block;
	position: relative;
	margin: auto;
	margin-bottom: 20px;
}

.li-active,
.tabs-nav li:hover {
	background: $red;
	color: #fff;
	transition: all 0.1s ease;
}

footer {
	width: 100%;
	background-color: #1c1c1c;
	border-top: 8px solid $red;
	position: relative;
	margin-top: -57px; //	z-index: -1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	padding: 30px 20px;
}

.footer-column {
	display: inline-block;
	width: 30%;
	margin-top: 70px;
	color: #adadad;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	p {
		margin: 15px 0;
		line-height: 18px;
	}
	h2 {
		color: #ffffff;
		font-family: "Helvetica Neue";
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	hr {
		border: 1px solid #3b3b3b;
	}
}

.social-column {
	h2 {
		display: block;
	}
}

.social-column a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 3px;
	cursor: pointer;
}

.social-item_wrap {
	text-align-last: left;
}

.slider-item {
	position: relative;
	width: 1020px;
}

.preview-item {
	cursor: pointer;
}
.text {
	position: relative;
}
