/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1240px) {

	.news_item.item_big,
	.s_news-item.item_big img {
		width: 300px;
		overflow: hidden;
	}

	.row_item {
		width: 600px;
	}

	.news_content .news_form {
		-ms-flex-item-align: center;
		align-self: center;
	}

	.ourTeam {
		-ms-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.services_item {
		width: 50%;
	}

	.column_item {
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		width: 600px;
		height: 300px;
	}

	.column_item .text_block.arrow_top::before {
		right: auto;
		left: -20px;
		top: 30px;
	}

	.column_item a {
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.header-content {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.header_logo {
		margin-bottom: 30px;
	}

	.s_startItem_content h1 {
		font-size: 30px;
	}

	.s_startItem_content p {
		font-size: 18px;
	}

	.services_item {
		width: 100%;
	}

	.contact_wrap {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.footer_contact-info {
		margin-bottom: 80px;
	}
    .header_profit{
        display: none;
    }
}

@media only screen and (max-width : 650px) {
	.s_news-item img {
		display: none;
	}

	.s_news-item .text_block::before {
		display: none;
	}

	.s_news_wrap {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.row_item,
	.column_item {
		width: 300px;
	}

	.news_item {
		border-bottom: 1px solid #555;
	}

	.footer_wrap {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-ms-flex-pack: distribute;
		-webkit-box-pack: space-evenly;
		justify-content: space-evenly;
	}

	.footer_contact-form,
	.footer_contact-info {
		width: 100%;
		padding: 0;
	}

	.our_clients {
		-ms-flex-preferred-size: 312px;
		flex-basis: 312px;
	}

	.our_clients-slider {
		width: 940px;
	}

	.slider_item {
		width: 100px;
		height: 100px;
	}

	.slider_item img {
		width: 100%;
		height: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {
	#header_button {
		display: inline-block;
		margin-bottom: 10px;
	}

	.header_nav ul {
		display: none;
		position: absolute;
		left: 50%;
		width: 50%;
		margin-left: -25%;
		z-index: 100;
	}

	.header_nav li {
		margin: 10px 0;
		display: block;
		text-align: center;
	}

	.header_nav li a {
		font-size: 14px;
		padding: 10px 20px;
		background-color: rgba(0, 0, 0, .9);
		min-width: 50%;
		text-align: center;
		border-bottom: 2px solid transparent;
		display: block;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.maian_mnu ul {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
